@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@layer components {
  .container-build {
    @apply py-6 px-12;
  }
  .container-mobile {
    @apply py-6 px-0;
  }
  .space-main {
    @apply pt-6;
  }
  .suptitle-hover {
    @apply font-bold text-primary hover:text-primary-fa;
  }

  .carousel-list {
    @apply relative;
    .react-multi-carousel-list {
      .react-multiple-carousel__arrow {
        @apply hidden;
      }
      &:hover .react-multiple-carousel__arrow {
        @apply block;
      }
      @apply static;
      .react-multiple-carousel__arrow--right {
        @apply left-full;
      }
      .react-multiple-carousel__arrow--left {
        @apply right-full left-auto;
      }
      .react-multiple-carousel__arrow {
        @apply bg-gray-400;
        &:hover {
          @apply bg-gray-600;
        }
      }
    }
  }

  .detail-product {
    .carousel-item {
      @apply border border-solid border-gray-200 cursor-pointer m-1 flex justify-center;
    }
    .ant-card {
      .ant-card-cover {
        @apply mt-0 mx-0;
      }
    }
  }
  .products {
    .ant-card {
      .ant-card-body {
        @apply p-3;
      }
    }
  }
}
// ant-design
.ant-image {
  width: 100%;
}
.ant-descriptions {
  .ant-descriptions-header {
    margin-bottom: 0;
  }
}

.hover-1 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &:before {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
  }
  &:hover {
    &:before {
      border-width: 288px 250px 0 0;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }
  }
  &:after {
    border-color: transparent transparent #000;
    border-style: solid;
    border-width: 0;
    bottom: 5px;
    content: "";
    height: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
  }
  &:hover {
    &:after {
      border-width: 0 0 288px 250px;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }
  }
  .ant-image-img {
    height: 288px !important;
  }
}
